<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <script src="../assets/marked.min.js"></script>
    <script src="../assets/jquery-3.7.1.min.js"></script>
    <link href="../assets/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/style.css" rel="stylesheet">
    <link href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <noscript>
        <h1 class="text-danger fw-bolder">THIS WEBSITE NEEDS JAVASCRIPT TO RUN. PLEASE ENABLE IT IN SETTINGS.</h1>
    </noscript>
</head>
<body id="body" data-bs-theme="light">

<i onclick="window.location.href = '/settings'" class="bi bi-gear position-absolute bottom-0 start-0 p-3" style="font-size: 2rem; cursor: pointer;"></i>

<div class="container-fluid">
    <h1 class="text-3xl text-center">Markdown Reader</h1>
    <button class="icon-btn" title="Open File">
        <i class="bi bi-folder2-open"></i>
    </button>
    <input type="file" id="choose_file" style="display: none;">
    <div id="markdown_reader">
        <!-- Contains all your markdown files -->
    </div>
</div>

<script>
    $(".icon-btn").on('click', function () {
        $("#choose_file").click();
    });

    $("#choose_file").on('change', function () {
        const file = document.getElementById("choose_file").files[0];
        if (file) {
            console.log(`File chosen: ${file.name}, Size: ${file.size} bytes`);
            loadMarkdown(file);
        } else {
            console.error('No file chosen.');
            alert("No file was chosen.");
        }
    });
</script>
<script src="../assets/libary.js"></script>
<script>loadExampleMarkdown()</script>
<script src="../assets/bootstrap.bundle.min.js"></script>
</body>

</html>
